*{
  padding: 0;
  margin: 0;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
img{
  max-width: 100%;
}
.fixed-width{
  max-width: 890px;
  margin:auto;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.left{
  float: left;
}
.right{
  float: right;
}
/* main css start */
/* header part start */
.header-section{
  background: #3498db;
}
.header-left{
  float: left;
  width: 30%;
  
}
.header-left img{
  width:160px;
  margin: auto;
}
.header-right{
  float: right;
  width: 70%;
}
.header-right ul{
  
}
.header-right ul li{
  display: inline-block;
  border-left: 1px solid #ddd;
}
.header-right ul li a{
  display: block;
  font-size:21px;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  margin-left: -6px;
  line-height: 80px;
  transition: .4s;
}
.header-right ul li:hover a{
  background:#58dcfd;
}

/*Slider sectiin*/

.banner-section{
  background: url(img/banner.jpg) no-repeat center;
background-size: cover;;
  padding: 130px;
}
.baneer-caption{
  
}
.banner-caption h2{
  font-size: 20px;
  color: #fff;
  background: #3498db;
  display: inline-block;
  padding: 6px 7px;
  border-radius: 5px;
  
  margin-bottom: 17px;
}
.banner-caption h1{
  font-size: 17px;
  color: #fff;
  background: #3498db;
  display: inline-block;
  padding: 7px 8px;
max-width: 900px;
  margin: auto;
  background-attachment: fixed;

}

/* About sectiin */
.about-section{
padding: 5px 0;  
margin: 6px 0;
}
.about-text{

}
.about-text h2{
  font-size: 25px;
  margin-bottom: 8px;
}
.about-text p{
  font-size: 17px;
  width: 65%;
  height: auto;
  margin: auto;
  

}


/* service secton */
.service-section{
  padding: 10px 0;
  margin-top:  30px;
}
.service-item{
  float: left;
  width: 31.3%;
  border: 1px solid #ddd;
  padding: 20px 10px;
  box-sizing: border-box;
  margin: 0 1%;
}
.service-item span{
  font-size: 30px;
  display: block;
  background: #3498db;
  color: #fff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: auto;
  border-radius: 25px 0 25px 0;
  margin-bottom: 15px;
}
.service-item h3{
  margin-bottom: 13px;
}
.service-item p{}



/*blog sesction*/
.blog-container{
  margin: 10px 0;
}
.blog-left-content{
  float: left;
  width: 65%;
  
}
.blog-item{
margin-bottom: 20px;
}
.blog-item img{
  width: 170px;
  height: auto;
  float: left;
  margin-right: 15px;
  
  
}
.blog-right-notification{
  float: right;
  width: 25%;
}
  .blog-left-notification{
    
  }
  .blog-right-notification h2{
    font-size: 25px;
    margin-bottom: 17px;
    border-bottom:1px solid #ddd;
    text-align:center;
    
  }
  .blog-right-notification ul{
    list-style: none;
  }
  .blog-right-notification ul li{
    display: block;
    border: 1px solid #ddd;
    background: #fafafa;
   padding: 9px;
   margin-bottom: 8px;
   border-radius: 5px;
  }
  


/* footer secrtion */
.footer-section{
  background: #2c3e50;
  color: #fff;
  padding: 10px 0;
}
.footer-left{
  float: left;
  width: 40%;
margin-bottom: 15px;
}
.footer-right{
  float: right;
  width: 60%;
}

.social-menu{}
.social-menu{
  text-align: right;
}
.social-menu li{
  display: inline-block;
  list-style: none;
  
}
.social-menu li a{
  display: block;
  margin-left: 15px;
  font-size: 18px;
 
  color: #fff;
}
.social-menu li:hover{}










  





































